#section1,#section2,#section3,#section4{
    background-color: purple;
    border: 2px solid white;
    width: 40%;
    display:inline-block;
    padding: 5px;
    margin: 5px;
    text-align:center;
    color:white;
    border-radius: 10px;
    
}
/* 
body{
    
   
} */